<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">What about a good starting point?</h6>
    <h3 class="dashhead-title">Templates</h3>
  </div>
</div>

<cs-loading *ngIf="!ingredients"></cs-loading>

<div class="row">
  <div class="col-lg-12" *ngFor="let ingredient of ingredients">
    <div class="jumbotron content-cap-300">
      <h1>{{ingredient.name}}</h1>
      <p [data]="ingredient.body" csMarkdown>
      </p>
      <p>
        <a class="btn btn-primary btn-lg" (click)="instantiate(ingredient.id)" role="button">
          Instantiate
        </a>
      </p>
    </div>
  </div>
</div>
