<div class="dashhead">
    <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Edit your account or log out.</h6>
        <h3 class="dashhead-title">My Account</h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 card card-form">
        <h1>Change password</h1>
        <form [formGroup]="changePasswordForm">
            <div class="form-group" [ngClass]="{'has-error': !changePasswordForm.controls.password.valid && !changePasswordForm.controls.password.pristine}">
                <label class="form-control-label">Password (at least 8 symbols)</label>
                <input class="form-control form-control-padded" type="password" formControlName="password" [ngModel]="change.password">
            </div>
            <div class="form-group" [ngClass]="{'has-error': !changePasswordForm.controls.password_confirm.valid && !changePasswordForm.controls.password_confirm.pristine}">
                <label class="form-control-label">Confirm password</label>
                <input class="form-control form-control-padded" type="password" formControlName="password_confirm" [ngModel]="change.password_confirm">
            </div>


            <div class="text-right">
                <button (click)="submit(changePasswordForm)" class="btn btn-primary" [ngClass]="{'btn-success': changePasswordForm.valid}" [disabled]="!changePasswordForm.valid">Change</button>
            </div>

            <hr>

            <div class="alert alert-warning text-center" *ngIf="success != null">
                <p>
                    {{ successMessage }}
                </p>
            </div>

            <div class="alert alert-warning text-center" *ngIf="error != null">
                <p>
                    {{ errorMessage }}
                </p>
            </div>
        </form>
    </div>
</div>
