<div class="dashhead col-xs-8 col-xs-offset-2">
    <div class="dashhead-titles">
        <h3 class="dashhead-title">Thanks for visiting!</h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="jumbotron">
            <h3>Before you leave...</h3>
            <p>
                Consider giving us some feedback on our application and recommendations so that we can improve the experience for our users!
            </p>
            <p>
                Use the speech bubble icon in the lower right corner to give feedback.
            </p>
        </div>
    </div>
</div>