<div class="dashhead col-xs-8 col-xs-offset-2">
    <div class="dashhead-titles">
        <h3 class="dashhead-title">Thanks for visiting!</h3>
    </div>
</div>


<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="jumbotron">
            <h3>Before you leave...</h3>
            <p>
                Consider giving us some feedback on our application and recommendations so that we can improve the experience for our users!
            </p>
            <p>
                Use the speech bubble icon in the lower right corner to give feedback.
            </p>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<div class="row" id="share-buttons">
    <div class="col-xs-3">
        Share your CloudStove experience on social media!
    </div>
    <div class="col-xs-1">
        <!-- Twitter -->
        <a href="https://twitter.com/share?url=http://thestove.io/&amp;text=The%20CloudStove%20-%20Deployment%20recommendations%20for%20your%20applications&amp;hashtags=cloudstove" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        </a>
    </div>
    <div class="col-xs-1">
        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer.php?u=http://thestove.io/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
        </a>
    </div>
    <div class="col-xs-1">
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=http://thestove.io/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
        </a>
    </div>
    <div class="col-xs-1">
        <!-- LinkedIn -->
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://thestove.io/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
        </a>
    </div>
    <div class="col-xs-1">
        <!-- Reddit -->
        <a href="http://reddit.com/submit?url=http://thestove.io/&amp;title=The CloudStove - Deployment Recommendations for your applications" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
        </a>
    </div>
    <div class="col-xs-1">
        <!-- Email -->
        <a href="mailto:?Subject=The CloudStove&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://thestove.io/">
            <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
        </a>
    </div>
</div>
<br>
<hr>