<div class="dashhead">
    <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Edit your account or log out.</h6>
        <h3 class="dashhead-title">My Account</h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>
            E-Mail: {{ getUserName() }}
        </p>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <p>
                    <button (click)="logout()" class="btn btn-primary" >Log out</button>
                    <button [routerLink]="['/password']" class="btn btn-primary" >Change password</button>
                    <!--<button (click)="logout()" class="btn btn-primary" >Delete account</button>-->
                </p>
            </div>
        </div>
    </div>
</div>
