<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['welcome']"><img src="/img/flame.svg"> Cloudstove</a>
    <ul class="nav navbar-nav">
        <li><a [routerLink]="['templates']">Templates</a></li>
        <li><a [routerLink]="['applications']">Applications</a></li>
        <li><a [routerLink]="['ingredients']">Ingredients</a></li>
        <!--<li><a [routerLink]="['settings']">Settings</a></li>-->
    </ul>
  </div>
</div>

<div class="container-fluid container-navbar-top">
  <ng-content></ng-content>
</div>
