@import './theme/variables';

@icon-font-path: "../fonts/";

@import './theme/toolkit-inverse';

@brand-primary: #DC3522;
@brand-dark: #3b322f;
@brand-accent: lighten(@brand-dark, 40%);
@brand-success: #3cdc22;
@brand-warning: #dcc022;
@brand-alert: #DC3522;

.overflow-hidden {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.loading {
  height: 300px;
  padding-top: 200px;
  color: @brand-primary;
}

// responsive fix using ico-nav
@media (min-width: @screen-sm) {
  .container {
    padding-left: @iconav-width;
  }

  .container-navbar-top {
    padding-top: @iconav-width;
  }
}

#share-buttons img {
  width: 40px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

@import './form';
@import './loading';
@import './markdown';
@import './table';
@import './nouislider';
@import './animations';
@import './jumbotron';
@import './dashhead';
