$brand-primary: #DC3522;
$brand-dark: #3b322f;
$brand-accent: lighten($brand-dark, 40%);

// Importing Bootstrap SASS
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/_bootstrap";

body {
  background-color: lighten($brand-accent, 35%);
}

h1 {
  color: $brand-accent;
  margin-bottom: 20px;
}

h2 {
  color: lighten($brand-accent, 10%);
}

h3 {
  color: darken($brand-accent, 20%);
}

@import 'table';
@import 'panel';
@import 'form';
@import 'buttons';
@import 'animations';
@import 'loading';
