.btn {
  border-radius: 0;
  //border: 1px solid @brand-accent;
}

a.btn {
  color: white;
}

.btn-group-padded {
  .btn {
    margin-right: 3px;
  }

  .btn:first-child { // first due to float
    margin-right: 0;
  }

  .btn-group {
    margin-right: 3px;
  }
}
