.form-control {
  border-radius: 0;
  border: 1px solid lighten(@brand-accent, 20%);
}

.form-control-label {
  font-weight: lighter;
  color: @brand-accent;
  font-size: 14px;
}

select {
  display: block;
  width: 100%;
  height: 35px;
  padding-left: 5px;
  border-radius: 0;
  border: 1px solid lighten(@brand-accent, 20%);
  margin-bottom: 10px;
}

.btn-remove-constraint {
  float: right;
  position: absolute;
  right: 5px;
  margin-top: 30px;
}

.ng-valid {
  border-color: @brand-success;
}

.ng-valid.ng-pristine {
  border-color: lighten(@brand-accent, 20%);
}

.ng-invalid {
  box-shadow: inset 0 1px 1px rgba(@brand-warning, 0.075), 0 0 8px rgba(@brand-warning, 0.3);
}

.ng-invalid.ng-pristine {
  box-shadow: none;
}
