.noUi-handle {
  border: 1px solid @gray;
  background: @gray-darker;
  box-shadow: none;
}

.noUi-handle:before, .noUi-handle:after {
  background: @gray;
}

.noUi-background {
  background: @gray;
}

.noUi-target {
  background: @gray;
  box-shadow: none;
  border: 1px solid @gray;
}

.noUi-marker-sub {
  height: 5px !important;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 10px !important;
}

.noUi-connect {
  background: @gray-dark;
}

.noUi-pips {
  color: @gray;
}