.table > thead > tr > th {
    padding: 10px 0;
    padding-right: 5px;
    border: none;
    border-bottom: 1px solid @brand-dark;
    font-weight: lighter;
    color: @gray-light;
    font-size: 14px;
}