<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Welcome to the Stove</h6>
    <h3 class="dashhead-title">Cloudstove Dashboard</h3>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="well pull-left">
      <h3>How much will your cloud application cost to operate?</h3>
      <h4><a target="_blank" href="https://blog.thestove.io/how-much-will-your-cloud-application-cost-to-operate-4a6dbecd9b0d#.p5mypl4y9">
        Find out how CloudStove can help you answer this question.</a></h4>
    </div>

    <div class="well pull-right">
      <h3>The Current State of Cloud Application Deployment</h3>
      <h4><a target="_blank" href="https://blog.thestove.io/the-current-state-of-cloud-application-deployment-304e98dcb612#.b1k60owql">
        Learn more on the CloudStove blog!</a></h4>
    </div>

    <div class="well pull-left">
      <h3>Benchmarking the Performance Variability in Public Clouds</h3>
      <h4><a target="_blank" href="https://blog.thestove.io/benchmarking-the-performance-variability-in-public-clouds-480b95ad7cca#.xnwzgv4vl">
        Read what we found out on the CloudStove blog!</a></h4>
    </div>

  </div>
</div>

<hr>
<br>
<div class="row" id="share-buttons">
  <div class="col-xs-3">
    Share your CloudStove experience on social media!
  </div>
  <div class="col-xs-1">
    <!-- Twitter -->
    <a href="https://twitter.com/share?url=http://thestove.io/&amp;text=The%20CloudStove%20-%20Deployment%20recommendations%20for%20your%20applications&amp;hashtags=cloudstove" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
  </div>
  <div class="col-xs-1">
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=http://thestove.io/" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
  </div>
  <div class="col-xs-1">
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=http://thestove.io/" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
  </div>
  <div class="col-xs-1">
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://thestove.io/" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
  </div>
  <div class="col-xs-1">
    <!-- Reddit -->
    <a href="http://reddit.com/submit?url=http://thestove.io/&amp;title=The CloudStove - Deployment Recommendations for your applications" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
    </a>
  </div>
  <div class="col-xs-1">
    <!-- Email -->
    <a href="mailto:?Subject=The CloudStove&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://thestove.io/">
      <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
  </div>
</div>
<br>
<hr>
