<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Welcome to the Stove</h6>
    <h3 class="dashhead-title">Cloudstove Dashboard</h3>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="well pull-left">
      <h3>How much will your cloud application cost to operate?</h3>
      <h4><a target="_blank" href="https://blog.thestove.io/how-much-will-your-cloud-application-cost-to-operate-4a6dbecd9b0d#.p5mypl4y9">
        Find out how CloudStove can help you answer this question.</a></h4>
    </div>

    <div class="well pull-right">
      <h3>The Current State of Cloud Application Deployment</h3>
      <h4><a target="_blank" href="https://blog.thestove.io/the-current-state-of-cloud-application-deployment-304e98dcb612#.b1k60owql">
        Learn more on the CloudStove blog!</a></h4>
    </div>

    <div class="well pull-left">
      <h3>Benchmarking the Performance Variability in Public Clouds</h3>
      <h4><a target="_blank" href="https://blog.thestove.io/benchmarking-the-performance-variability-in-public-clouds-480b95ad7cca#.xnwzgv4vl">
        Read what we found out on the CloudStove blog!</a></h4>
    </div>

  </div>
</div>
