<csLoading *ngIf="!application"></csLoading>
<div *ngIf="application" class="animated-list">
    <h1>{{application.name}}</h1>

    <div class="btn-group btn-group-padded pull-right">
      <a [routerLink]="['/recommendations', application.id]">
        <button class="btn btn-primary">
          <i class="fa fa-file-text"></i> Recommendation
        </button>
      </a>
      <a [routerLink]="['/ingredients', application.id]">
        <button class="btn btn-info">
          <i class="fa fa-edit"></i> Edit
        </button>
      </a>
    </div>

    <h2>Ingredients</h2>

    <div class="row">
      <div class="col-lg-4" *ngFor="let ingredient of application.children">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a [routerLink]="['/ingredients', ingredient.id]">{{ingredient.name}}</a>
              <a class="btn btn-xs btn-info pull-right" [routerLink]="['/ingredients', ingredient.id]"><i class="fa fa-edit"></i> Edit</a>
              <button [ngClass]="{'disabled': ingredient.isCopying}" class="btn btn-xs btn-default pull-right" (click)="copyIngredient(ingredient)">
                <i [ngClass]="{'fa-copy': !ingredient.isCopying, 'fa-spin': ingredient.isCopying, 'fa-circle-o-notch': ingredient.isCopying}" class="fa"></i> Copy
              </button>
            </h3>
          </div>
          <div class="panel-body panel-ingredient">
            <div [data]="ingredient.body" csMarkdown></div>
          </div>
        </div>
      </div>
    </div>

    <h2>Application Map</h2>

    <div class="row">
      <div class="col-lg-12">
        <div bind-data="applicationData" width="600" height="400" [ingredientClickedCallback]="boundIngredientClickedCallback" csApplicationMap></div>
      </div>
    </div>

</div>
