<div class="navbar navbar-inverse navbar-fixed-top navbar-editor">
  <div class="container-fluid">

    <!-- editor menu -->
    <div [hidden]="editorMode.type != 'editor'" class="pull-left">

      <div class="navbar-btn-group btn-group" *ngIf="editor.ingredient">
        <button type="button" class="btn btn-info" (click)="openModal(editor.ingredient)">
          Add Dependency <span class="caret"></span>
        </button>
      </div>

    </div>

    <!-- recommender menu -->
    <div [hidden]="editorMode.type != 'recommender'" class="pull-left">

      <div class="navbar-btn-group btn-group" dropdown [(isOpen)]="status.regionIsOpen">
        <button type="button" class="btn btn-info" dropdownToggle [disabled]="disabled">
          {{regionConstraint.preferred_region_area == null ? 'Region' : 'Region: ' + regionConstraint.preferred_region_area}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
          <li role="menuitem"  *ngFor='let region of selectableRegions'>
            <a class="dropdown-item" (click)="changeRegion(region.id)">{{region.name}}</a>
          </li>
        </ul>
      </div>


      <div class="navbar-btn-group btn-group" dropdown [(isOpen)]="status.providerIsOpen">
        <button type="button" class="btn btn-info" dropdownToggle [disabled]="disabled">
          {{providerConstraint.preferred_providers.length == 0 ? 'Provider' : providerConstraint.preferred_providers.join(', ') }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
          <li role="menuitem" *ngFor='let provider of selectableProviders'>
            <a class="dropdown-item" (click)="selectProvider(provider)">
              {{providerConstraint.preferred_providers.indexOf(provider) > -1 ? '✓' : '' }} {{provider}}
            </a>
          </li>
        </ul>
      </div>

      <div class="navbar-btn-group btn-group">
        <button [ngClass]="{'disabled': recommendation.isGenerating}" class="btn btn-primary" (click)="triggerRecommendation(editor.application)">
          <i [ngClass]="{ 'fa-copy': !recommendation.isGenerating, 'fa-spin': recommendation.isGenerating, 'fa-circle-o-notch': recommendation.isGenerating}" class="fa"></i>
          Generate Recommendation
        </button>
      </div>

    </div>

    <ul class="nav navbar-nav pull-right">
      <li [ngClass]="{'active': editorMode.type == 'workload'}"><a (click)="changeEditorMode('workload')"><i class="fa fa-edit"></i> Workload</a></li>
      <li [ngClass]="{'active': editorMode.type == 'editor'}"><a (click)="changeEditorMode('editor')"><i class="fa fa-edit"></i> Editor</a></li>
      <li [ngClass]="{'active': editorMode.type == 'recommender'}"><a (click)="changeEditorMode('recommender')"><i class="fa fa-copy"></i> Recommender</a></li>
    </ul>

  </div>
</div>

<div class="navbar-editor-content">

  <cs-loading *ngIf="!editor.application"></cs-loading>

  <cs-workload-modeler *ngIf="editorMode.type == 'workload'"></cs-workload-modeler>

  <div *ngIf="editor.application && editorMode.type != 'workload'">
    <div class="row">
      <div class="col-lg-9">
        <div class="overflow-hidden">
          <div class="application-editor" csConnection>

            <div class="zoom-controls" *ngIf="editor.ingredient">
              <button class="btn btn-primary" (click)="zoomIn()" *ngIf="editor.ingredient.children.length > 0">
                <i class="fa fa-search-plus"></i>
              </button>

              <button class="btn btn-primary" (click)="zoomOut()" *ngIf="editor.ingredient.parent_id && editor.ingredient.parent_id !== application.id">
                <i class="fa fa-search-minus"></i>
              </button>
            </div>

            <cs-stove-editor-dependency-constraint
              *ngFor="let constraint of editor.dependencies"
              [constraint]="constraint"
              class="svg"
              >
            </cs-stove-editor-dependency-constraint>

            <cs-stove-editor-ingredient
              *ngFor="let ingredient of editor.application.children; trackBy: ingredient?.id; let i = index"
              [ngClass]="{ 'active': editor.ingredient == ingredient }"
              [ingredient]="ingredient"
              (edit)="openModal($event)"
              (select)="selectIngredient($event)"
              [csPosition]="i"
              csDraggable>
            </cs-stove-editor-ingredient>

          </div>
        </div>
      </div>

      <!-- right-hand side display -->
      <div class="col-lg-3">

        <!-- display detail of ingredients in editor mode -->
        <cs-ingredient-detail [hidden]="editorMode.type != 'editor'" [(ingredient)]="editor.ingredient"></cs-ingredient-detail>

        <!-- display list of recommendations in recommender mode -->
        <div [hidden]="editorMode.type != 'recommender'" class="animated-list" *ngFor="let rec of recommendations">
          <div class="panel panel-default panel-application"  [ngClass]="{'recommendation-active': recommendation.activeRecommendation && recommendation.activeRecommendation === rec }" (click)="applyRecommendation(rec)">
            <div class="panel-heading">
              <h3 class="panel-title">
                Monthly VM-Cost: {{rec.vm_cost}}<br>
                <small>generated on {{ rec.created_at | date: 'H:m dd/MM/yyyy' }}</small>
              </h3>
            </div>
          </div>
        </div>

      </div>
    </div>

    <cs-stove-editor-dependency-modal
      *ngIf="editor.ingredient"
      [source]="editor.ingredient"
      [targets]="editor.application.children">
     </cs-stove-editor-dependency-modal>

  </div>
</div>
