@import "../../style/app";

.modal-body {
  .row {
    margin: 0;
  }
}

h1 {
  margin-top: -20px;
}

.ingredient {
  display: inline-block;
  width: 200px;
  height: 100px;
  background-color: $brand-accent;
  color: $brand-dark;
  border: 1px solid darken($brand-accent, 5%);
}

a {
  color: lighten($brand-accent, 35%);
}

a:hover {
  color: $brand-primary;
}

.details {
  color: lighten($brand-accent, 35%);

  .details-title {
    font-weight: bolder;
  }

  .details-body {
    color: lighten($brand-accent, 45%);
  }
}

.content {
  padding: 5px;
}

.edit {
  float: right;
}

.recommendation {
  background-color: lighten($brand-accent, 10%);
  color: lighten($brand-accent, 35%);
  font-size: 0.8em;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 5px;
  width: 100%;
}

.Rackspace {
  border-left: 5px solid #c40022;
  padding-left: 7px;
}

.no-recommendation {
  background-color: lighten($brand-primary, 10%);
  color: white;
}
