<div class="btn-group pull-right" dropdown [(isOpen)]="constraintDropdown.isOpen">
  <button type="button" class="btn btn-xs btn-primary" dropdownToggle>
    Add Constraint <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
    <li role="menuitem"><a class="dropdown-item" (click)="addConstraint('CpuConstraint')">CPU Constraint</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="addConstraint('RamConstraint')">RAM Constraint</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="addConstraint('PreferredRegionAreaConstraint')">Region Constraint</a></li>
  </ul>
</div>

  <!-- Form -->
<form [formGroup]="ingredientForm">
  <div *ngFor="let constraint of ingredient.constraints | csProperty : [constraintFilter, 'type']">
    <cs-region-constraint-form *ngIf="constraint.type == 'PreferredRegionAreaConstraint'" [constraint]="constraint" (removed)="removeConstraint(constraint)"></cs-region-constraint-form>
  </div>

  <div class="form-group">
    <label class="form-control-label">Depends on</label>
    <ul>
      <li *ngFor="let constraint of ingredient.constraints | csProperty : [[{type: 'DependencyConstraint'}], 'type']">
        Target: {{constraint.target_id}} <button class="btn btn-xs btn-warning" (click)="removeConstraint(constraint)"><i class="fa fa-remove"></i></button>
      </li>
     </ul>
  </div>
</form>
