.btn-remove-constraint {
  position: absolute;
  margin-top: 30px;
  right: 10px;
}

.node {
  fill: #000000;
  stroke: #000000;
  stroke-width: 3;
}

.link {
  stroke: #000000;
  stroke-width: 3;
  stroke-opacity: .6;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
