<div *ngIf="ingredient" class="animated-list">
    <h1>{{ingredient.name}}</h1>
    <div class="col-lg-12">
        <div class="row">
            <formly-form [model]="ingredient" [fields]="ingredientFields"></formly-form>

            <div *ngFor="let constraint of ingredient.constraints">
              <formly-form [model]="constraint" [fields]="constraint.fields"></formly-form>
            </div>

            <button type="submit" class="btn btn-success" (click)="submit(ingredient)">Save</button>
        </div>
    </div>
</div>
