<div *ngIf="ingredient" class="animated-list">
  <div class="row">
    <div class="col-lg-12">
        <h2>{{ingredient.name}} <button (click)="submit(ingredient)" class="btn btn-xs btn-primary" [disabled]="!ingredientForm.valid">Save</button></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <form [formGroup]="ingredientForm">
        <div class="form-group">
            <label class="form-control-label">Name:</label>
            <input class="form-control" type="text" formControlName="name" [ngModel]="ingredient.name">
        </div>
        <div class="form-group">
            <label class="form-control-label">Description:</label>
            <textarea class="form-control" formControlName="body" [ngModel]="ingredient.body"></textarea>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <cs-workload-form #workloadForm [(ingredient)]="ingredient"></cs-workload-form>
    </div>
  </div>
</div>
