<table class="table" *ngIf="recommendation">
    <thead>
    <tr>
        <th>Ingredient</th>
        <th>Recommendation</th>
        <th>Hourly Cost</th>
        <th>Monthly Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recommendation of recommendation.recommendation">
        <td>{{recommendation.ingredient.name}}</td>
        <td>
          <span class="label label-default" [ngClass]="['label-' + recommendation.resource.provider.replace(' ','')]">
            {{recommendation.resource.provider}}
          </span>
          <span style="margin-left: 3px" class="label label-default">
            {{recommendation.resource.region_area}}
          </span>
          <br>
          <small>
            {{recommendation.resource_count}}x {{recommendation.resource.name}}<br>
            {{recommendation.resource.cores}} Cores / {{recommendation.resource.mem_gb}} GB RAM
          </small>
        </td>
        <td>{{recommendation.resource_count * recommendation.resource.price_per_hour | number:'1.2-2'}} $</td>
        <td>{{recommendation.resource_count * recommendation.resource.price_per_month | number:'1.2-2'}} $</td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td><strong>{{ recommendation.recommendation | csSumHourly | number:'1.2-2' }}$</strong></td>
        <td><strong>{{ recommendation.recommendation | csSumMonthly | number:'1.2-2' }}$</strong></td>
      </tr>
    </tfoot>
</table>
