<div *ngIf="application">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">{{application.name}}</h6>
      <h3 class="dashhead-title">Recommendations</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="navbar-btn-group btn-group" dropdown [(isOpen)]="status.regionIsOpen">
        <button type="button" class="btn btn-info" dropdownToggle [disabled]="disabled">
          {{regionConstraint.preferred_region_area == null ? 'Region' : 'Region: ' + regionConstraint.preferred_region_area}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
          <li role="menuitem"  *ngFor='let region of selectableRegions'>
            <a class="dropdown-item" (click)="changeRegion(region.id)">{{region.name}}</a>
          </li>
        </ul>
      </div>

      <div class="navbar-btn-group btn-group" dropdown [(isOpen)]="status.providerIsOpen">
        <button type="button" class="btn btn-info" dropdownToggle [disabled]="disabled">
          {{providerConstraint.preferred_providers.length == 0 ? 'Provider' : providerConstraint.preferred_providers.join(', ') }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
          <li role="menuitem" *ngFor='let provider of selectableProviders'>
            <a class="dropdown-item" (click)="selectProvider(provider)">
              {{providerConstraint.preferred_providers.indexOf(provider) > -1 ? '✓' : '' }} {{provider}}
            </a>
          </li>
        </ul>
      </div>

      <button  type="button" class="btn btn-primary pull-right" [routerLink]="['/applications', application.id]">
        Back to Application
      </button>

    </div>
  </div>

  <div class="row padded-row">
    <div class="col-lg-12">
      <cs-recommendation-sensitivity-chart [recommendations]="recommendations"></cs-recommendation-sensitivity-chart>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-lg-8">
      <cs-user-workload-slider [ingredient]="application"></cs-user-workload-slider>
    </div>
    <div class="col-lg-4 text-right">
      <button [ngClass]="{'disabled': generatingRecommendation}" class="btn btn-primary" (click)="triggerRecommendation()">
        <i [ngClass]="{ 'fa-copy': !generatingRecommendation, 'fa-spin': generatingRecommendation, 'fa-circle-o-notch': generatingRecommendation}" class="fa"></i>
        Generate Recommendation
      </button>
    </div>
  </div>

  <div class="hr-divider">
    <h3 class="hr-divider-content hr-divider-heading">
      Generated Recommendations
    </h3>
  </div>

  <div class="row" *ngIf="recommendations && recommendations.length > 0">
    <div class="col-lg-6">
      <table class="table table-hover">
          <thead>
          <tr>
              <th>Monthly Cost</th>
              <th>Created At</th>
              <th>Provider</th>
              <th># Users</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let recommendation of recommendations" (click)="selectedRecommendation = recommendation" [ngClass]="{'active': selectedRecommendation === recommendation}">
              <td>{{ recommendation.status === 'satisfiable' ? recommendation.vm_cost + '$' : 'No solution found!'}}</td>
              <td>{{ recommendation.status === 'satisfiable' ? (recommendation.created_at | date: 'medium'): '---' }}</td>
              <td>{{ recommendation.status === 'satisfiable' ? recommendation.recommendation[0].resource.provider:'---' }} </td>
              <td>{{ recommendation.num_simultaneous_users }}</td>
              <td>

              </td>
          </tr>
          </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <cs-recommendation-distribution-chart [recommendation]="selectedRecommendation"></cs-recommendation-distribution-chart>
      <cs-recommendation-detail [recommendation]="selectedRecommendation"></cs-recommendation-detail>
    </div>
  </div>

  <div class="row padded-row" *ngIf="recommendations && recommendations.length === 0">
    <div class="text-center col-lg-12">
      Please generate a recommendation first.
    </div>
  </div>

</div>
